@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
    EB Garamond: 400-I, 500-I, 600-I, 700, 800
    Montserrat: 100-I, 200-I, 300-I, 400-I, 500-I, 600-I, 700-I, 800, 900
*/
@layer{
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


    *{
        
        font-family: 'Montserrat', sans-serif;
    }

    body{
        background-color: #262626;
        color: white;
        overflow-x: hidden;
    }

    ::-moz-selection { 
        color: rgb(255, 255, 255);
        background: #F82586;
    }
      
    ::selection {
        color: rgb(255, 255, 255);
        background: #F82586;
    }
}